* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #4aaaa5;
	background-image: url("../images/cork-wallet.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	widows: 960px;
	padding: 0;
	margin: 0;
	line-height: 200%;
}

header {
	background-color: #ffffff;
	max-height: 90px;
	padding: 45px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.name {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 29px 25px;
	font-size: 2em;
	top: 0;
	left: 50px;
}

nav {
	position: absolute;
	display: inline;
	left: 750px;
}

.buttons {
	padding: 5px 10px;
}

.buttons:hover {
	background-color: #4aaaa5;
	color: #ffffff;
	box-shadow: 5px 5px 10px #888888;
}

.buttons:active {
	box-shadow: 2px 2px 10px #666;
	transform: translateY(4px);
}

section {
	background-color: #ffffff;
	float: left;
	width: 650px;
	margin: 50px 20px 15px 50px;
	padding: 10px 30px 30px;
}

aside {
	background-color: #ffffff;
	float: left;
	width: 270px;
	margin: 50px 20px;
	text-align: center;
	padding: 15px;
}

footer {
	text-align: center;
	padding: 30px;
	background-color: #666666;
	color: #ffffff;
}

hr {
	color: #ddd;
	background-color: #ddd;
	border: none;
	height: 3px;
	margin-bottom: 20px;
}

a {
	text-decoration: none !important;
	color: #777777;
}

p {

}

h1, h2, h3 {
	color: #4aaaa5;
}

h2 {
	position: absolute;
	bottom: 15px;
	left: 0;
}

.banner {
	color: white;
	font: bold 24px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: #4aaaa5;

}

.banner-1 {
	padding: 5px 60.3px;
}

.banner-2 {
	padding: 5px 50.61px;
}

.banner-3 {
	padding: 5px 39px;
}

.banner-4 {
	padding: 5px 39px;
}

.banner-5 {
	padding: 5px 39px;
}

.container {
	flex: 1;
}

.icon {
	height: 55px;
	width: 55px;
	margin: 5px 5px 30px;
}

.clear {
	clear: both;
}

.image {
	position: relative;
	float: left;
}

.rotate:hover  {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.hover-outline:hover {
  outline: 5px solid #4aaaa5;
  outline-offset: 0px;
}

.thumbnail {
	margin: 0px 20px 10px 0px;
}

.footer {
	font-size: .65em;
	border-top: solid thick #4aaaa5;
}

#portfolioPic {
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.input {
	color: #777;
	width: 100%;
	height: 30px;
	padding: 10px;
}

#message {
	height: 200px;
	border-color: #ddd;
}

input.buttons {
	background: #4aaaa5;
	color: #fff;
	height: 35px;
	width: 100px;
	border-style: none;
	font-size: 1em;
	/*padding: 10px;*/
}